.container {
	width: 70%;
	margin: 0 auto;
}

.header-container {
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1abc9c;
}

ul li {
	display: inline;
	float: left;
	text-align: center;
	border-right: 1px solid #1abc9c;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

#header-navi-bar ul li a {
	padding: 1rem 2rem;
}

#header-navi-bar a:hover {
	background-color: #4CAF50;
}

.main-container {
	margin-top: 0.2rem;
}

.main-object {
	width: 75%;
	float: left;
}

.difficulty-timer {
	width: 100%;
	height: 3rem;
	display: block;
}

.difficulty {
	width: 20%;
	height: 2.4rem;
	margin-top: 0.1rem;
	display: inline;
	text-align: center;
	float: left;
}

.difficulty input {
	width: 100%;
	font-size: 18px;
	display: block;
	background: none;
	text-align: center;
	outline: none;
}

.difficulty select {
	
}

.inputNoBorder {
	border: 0rem;
}

input:disabled{
	background: none;
}
.timer {
	float: right;
	width: 80%;
	height: 100%;
	text-align: center;
}

.timer input {
	height: 2rem;
	margin-top: 0.4rem;
	font-size: 24px;
	background: none;
	outline: none;
	border: none;
}

.main-cells {
	/* background-color:#1abc9c */
}

.cells {
	
}

.Sudoku-SelectNumber {
	text-align: center;
	margin-top: 10px;
	background: blue;
}

.sidebar {
	width: 24%;
	height: 100%;
	float: right;
}

.side-navi-bar {
	height: 3rem;
}

.side-navi-bar ul {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.side-navi-bar ul li {
	padding: 0.5rem;
}

.side-navi-bar ul li a {
	/* height: 100%; */
	padding: 0.5rem 1rem;
}

.sidebar-marquee {
	margin: 0;
	padding: 0;
	height: 29.5rem;
	text-align: center;
	border: 1px solid black;
}

.sidebar-marquee marquee {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.sidebar-marquee-item {
	width: 90%;
	height: 3rem;
	margin: 0 auto;
	margin-top: 2rem;
	text-align: center;
	border: 1px solid black;
}

.sidebar-marquee-user {
	width: 30%;
	height: 100%;
	float: left;
	/* background-color: yellow; */
	/* text-align: center; */
}

.sidebar-marquee-user-img {
	margin-top: 0.2rem;
	text-align: center;
	/* float: left; */
	/* display: block; */
	/* background-color: blue; */
}

.sidebar-marquee-user a {
	width: 100%;
	/* background-color: blue; */
}

.sidebar-marquee-difficulty-time {
	width: 70%;
	height: 100%;
	float: right;
}

.sidebar-marquee-difficulty {
	height: 40%;
	padding-top: 0.3rem;
	/* background-color: blue; */
}

.sidebar-marquee-time {
	height: 45%;
	padding-top: 0.2rem;
	/* margin-top: 1rem; */
	/* background-color: black; */
}

.footer {

}

.border-left-bold {
	border-left: 3px solid black;
}

.border-left-none {
	border-left: none;
}

.border-right-bold {
	border-right: 3px solid black;
}

.border-right-none {
	border-right: none;
}

.border-top-bold {
	border-top: 3px solid black;
}

.border-top-none {
	border-top: none;
}

.border-bottom-bold {
	border-bottom: 3px solid black;
}

.border-bottom-none {
	border-bottom: none;
}

.Sudoku-Row, .Sudoku-Column {
	/* border: 0.1rem solid black; */
	text-align: center;
	font-size: 0px;
	/* background-color: #444; */
}

#Sudoku-Cells input {
	/* border: 0.1rem solid black; */
	text-align: center;
	/* margin: 0; */
	/* padding: 0; */
	width: 3rem;
	height: 3rem;	
	border-radius: 0;
	outline: none;
	/* border: none; */
	/* background-color: #333; */
	
}
